<% content_for(:title, "Edit Recipe | RecipeMaster8000") %>

<h1><%= "#{@recipe.name}" %></h1>

<%= render('layouts/errors', object: @recipe) %>

<form action="/recipes/<%= @recipe.slug %>" method="post">
  <input name="_method" type="hidden" value="patch">
  <%= render('form') %>
  </br>
  <button>Update Recipe</button>
</form>
