<% content_for(:title, "Edit Tag | RecipeMaster8000") %>

<h1><%= @tag.name %></h1>

<%= render('layouts/errors', object: @tag) %>

<form action="/tags/<%= @tag.slug %>" method="post">
  <input name="_method" type="hidden" value="patch">
  <label for="tag_name">Tag</label>
  <input id="tag_name" name="tag[name]" type="text" value="<%= @tag.name%>">
  </br>
  <button>Update Tag</button>
</form>
