<% content_for(:title, "Create a Tag | RecipeMaster8000") %>

<h1>Create a Tag</h1>

<%= render('layouts/errors', object: @tag) %>

<form action="/tags" method="post">
  <label for="tag_name">Tag</label>
  <input id="tag_name" name="tag[name]" type="text">
  </br>
  <button>Create Tag</button>
</form>


